<div class="container mt-3">
  <div class="row gy-5">
    <div class="col-12">
      <h1>Hire an Aircraft</h1>
    </div>
  </div>

  <div class="row g-5 ">
    <% @aircrafts.each do |aircraft| %>
    <div class="col-3 card-deck ">
    <div class="card rounded-3 h-100 shadow" >
      <% if aircraft.photos.attached? %>
          <%= cl_image_tag aircraft.photos[0].key, class: "card-img-top",:gravity=>"auto", :crop=>"fill" %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= aircraft.title %></h5>
        <p class="card-text">
        <p><%= aircraft.aircraft_type %>
          <p><b><span>Departure City:</span></b>
          <span><%= aircraft.departure_address %></span></p>
          <b><span>Arrival City:</span></b>
          <span><%= aircraft.arrival_address %></span>
        </p>
      </div>
      <div class="card-footer bg-transparent border-0">
        <%= link_to "Book From $#{aircraft.price_per_day} per day", aircraft_path(aircraft), class: "btn btn-primary w-100" %>
        </div>
    </div>
</div>
    <% end %>
  </div>
</div>
