<div class="container mt-5">
  <div class="row gy-5">
    <div class="col-12">
      <h1>Hire an Aircraft</h1>
      <br>
    </div>
  </div>

  <div class="row g-5 ">
    <% @aircrafts.each do |aircraft| %>
    <div class="col-3 card-deck ">
      <div class="card rounded-3 h-100 shadow">
        <% if aircraft.photos.attached? %>
        <%= cl_image_tag aircraft.photos[0].key,:gravity=>"auto", crop: :fill, :class=>"rounded-3" %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= aircraft.aircraft_type %></h5>
          <p class="card-text">
            <p><b><span>Departure City:</span></b>
              <span><%= aircraft.departure_address %></span></p>
            <p><b><span>Arrival City:</span></b>
              <span><%= aircraft.arrival_address %></span></p>
            <p><b>Seats:</b> <%= aircraft.max_occupants %></p>
          </p>
        </div>
        <div class="card-footer bg-transparent border-0">
          <%= link_to "Book from $#{aircraft.price_per_day} per day", aircraft_path(aircraft), class: "btn btn-primary w-100" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
