<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>Aircrafts For Hire</h1>
    </div>
  </div>

  <div class="row">
    <% @aircrafts.each do |aircraft| %>
      <div class="col-md-4">
        <div class="aircraft-card">
          <div class="aircraft-card-content">
            <div class="aircraft-card-title">
              <h4><%= aircraft.title %></h4>
            </div>
            <p><%= aircraft.aircraft_type %></p>
            <div class="flex">
              <div class="flex align-items-center">
                <b><span>Departure City:</span></b>
                <span><%= aircraft.departure_address %></span>
              </div>
              <div class="flex align-items-center">
                <b><span>Arrival City:</span></b>
                <span><%= aircraft.arrival_address %></span>
              </div>
            </div>
          </div>
          <div class="flat-card-actions">
            <%= link_to "More info", aircraft_path(aircraft) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
