<div class="container mt-3">
  <div class="row">
    <div class="row">
      <h1 class="col-9">Your Aircraft</h1>
      <%= link_to "Add an Aircraft listing", new_aircraft_path, class: "btn btn-primary col-3 btn-lg rounded-5" %>
    </div>
  </div>

  <div class="row">
    <% @aircrafts.each do |aircraft| %>
      <div class="col-md-4">
        <div class="aircraft-card">
          <div class="aircraft-card-content">
            <div class="aircraft-card-title">
              <h4><%= aircraft.title %></h4>
            </div>
            <p><%= aircraft.aircraft_type %></p>
            <div class="flex">
              <div class="flex align-items-center">
                <b><span>Departure City:</span></b>
                <span><%= aircraft.departure_address %></span>
              </div>
              <div class="flex align-items-center">
                <b><span>Arrival City:</span></b>
                <span><%= aircraft.arrival_address %></span>
              </div>
            </div>
          </div>
          <div class="flat-card-actions">
          <%= link_to "More info", aircraft_path(aircraft) %>
            <%= link_to "Edit", edit_aircraft_path(aircraft), class: "ms-3 text-warning" %>
            <%= link_to "Remove", aircraft_path(aircraft), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                class: "ms-3 text-danger"
            %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
