
<div class="container">
<h1><%= @aircraft.title %></h1>




<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">

      <% if @aircraft.photos.attached? %>
        <% @aircraft.photos.each do |photo| %>
        <div class="carousel-item active">

          <%= cl_image_tag photo.key, :class=>"d-block w-100 h-50"  %>

        </div>
        <% end %>
      <% end %>




    <%# <div class="carousel-item active">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div> %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>





<h3><%= @aircraft.aircraft_type %></h3>
<p><%= @aircraft.description %></p>
<p>Max Occupants: <%= @aircraft.max_occupants %></p>
<p>Price per day: <%= @aircraft.price_per_day %></p>
<p>Departure Address: <%= @aircraft.departure_address %></p>
<p>Arrival Address: <%= @aircraft.arrival_address %></p>
<%= link_to "Make a booking!",  new_aircraft_booking_path(@aircraft) %>
</div>s
