<h2> Your Booking </h2>

<div class="text-center">
  <h1> Your Booking Details </h1>
</div>
<div class="container">
  <h2 class="text-center"><%= @aircraft.title %> from
  <br>
  <%= @booking.start_date.strftime('%d/%b/%Y') %> to <%= @booking.end_date.strftime('%d/%b/%Y') %></h1>
  <p><strong>Seats:</strong> <%= @aircraft.max_occupants %></p>
  <p><strong>Price per day:</strong> $<%= @aircraft.price_per_day %></p>
  <p><strong>Total Price:</strong> $<%= (@booking.end_date.mjd + 1 - @booking.start_date.mjd)*@aircraft.price_per_day %> </p>
  <p><strong>Departure Address:</strong> <%= @aircraft.departure_address %></p>
  <p><strong>Arrival Address:</strong> <%= @aircraft.arrival_address %></p>

  <%= simple_form_for [@booking], data: { controller: 'flatpickr' } do |f| %>
    <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "startDate" } } %>
    <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endDate" } } %>
    <%= f.submit class:"btn btn-primary" %>
  <% end %>
</div>
