<div class="container mt-5">
  <div class="row gy-5">
    <div class="col-12">
      <h1>Your Bookings</h1>
    </div>
  </div>

<div class="row g-5 ">
    <% @your_bookings.order(:id).each do |your_booking| %>
    <div class="col-3 card-deck ">
      <div class="card rounded-3 h-100 shadow" >
        <div class="card-body">
          <h5 class="card-title">Booking ID # <%= your_booking.id %></h5>
          <p class="card-text">
          <% aircraft = Aircraft.find(your_booking.aircraft_id)%>
            <h6><%= aircraft.aircraft_type %></h6>
            <p><b><span>Departure City:</span></b>
            <span><%= aircraft.departure_address %></span></p>
            <p><b><span>Arrival City:</span></b>
            <span><%= aircraft.arrival_address %></span></p>
            <p><b>Seats:</b> <%= aircraft.max_occupants %></p>
            <p><b>Start Date:</b> <%= your_booking.start_date %></p>
            <p><b>End Date:</b> <%= your_booking.end_date %></p>
          </p>
        </div>
        <div class="card-footer bg-transparent border-0">
          <%= link_to "View", booking_path(your_booking), class: "btn btn-primary" %>
          <%= link_to "Edit", edit_booking_path(your_booking), class: "btn btn-secondary "  %>
          <%= link_to "Delete", booking_path(your_booking), class: "btn btn-danger text-white" ,data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>



<div class="container mt-5">
  <div class="row gy-5">
    <div class="col-12">
      <h1>Your Aircraft Bookings</h1>
    </div>
  </div>

 <div class="row g-5 ">
    <% @your_aircraft_bookings.order(:id).each do |your_aircraft_booking| %>
    <div class="col-3 card-deck ">
      <div class="card rounded-3 h-100 shadow" >
        <div class="card-body">
          <h5 class="card-title">Booking ID # <%= your_aircraft_booking.id %></h5>
          <p class="card-text">
          <% aircraft = Aircraft.find(your_aircraft_booking.aircraft_id)%>
            <h6><%= aircraft.aircraft_type %></h6>
            <p><b><span>Departure City:</span></b>
            <span><%= aircraft.departure_address %></span></p>
            <p><b><span>Arrival City:</span></b>
            <span><%= aircraft.arrival_address %></span></p>
            <p><b>Seats:</b> <%= aircraft.max_occupants %></p>
            <p><b>Start Date:</b> <%= your_aircraft_booking.start_date %></p>
            <p><b>End Date:</b> <%= your_aircraft_booking.end_date %></p>
            <p><b>Booking Confirmed:</b> <%= your_aircraft_booking.confirmation_status %></p>
          </p>
        </div>
        <div class="card-footer bg-transparent border-0">
          <%= link_to "Accept", edit_booking_path(your_aircraft_booking, confirm: "true"), method: :post, class: "btn btn-primary" %>
          <%= link_to "Decline", edit_booking_path(your_aircraft_booking, confirm: "false"), method: :post, class: "btn btn-danger text-white"  %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
