<h1>Booking for <%= @aircraft.aircraft_type %>!</h1>
<p>Seats: <%= @aircraft.max_occupants %></p>
<p>Price per day: $<%= @aircraft.price_per_day %></p>
<p>Departure Address: <%= @aircraft.departure_address %></p>
<p>Arrival Address: <%= @aircraft.arrival_address %></p>
<div class="w-50">
<%= render "shared/booking_form" %>
</div>
