<h1>Booking for <%= @aircraft.aircraft_type %>!</h1>
<p><strong>Seats</strong>: <%= @aircraft.max_occupants %></p>
<p><strong>Price per day</strong>: $<%= @aircraft.price_per_day %></p>
<p><strong>Departure Address:</strong> <%= @aircraft.departure_address %></p>
<p><strong>Arrival Address:</strong> <%= @aircraft.arrival_address %></p>
<div class="w-50">
<%= render "shared/booking_form" %>
</div>
