<div class="container fluid">
<div class="container w-100 t-10">

  <div class="container w-75 t-10">
    <div class="navbar bg-light rounded-pill ps-5 pe-5">
      <div class="container-fluid">

        <a class="navbar-brand" href="/">
          <i class="fa-regular fa-paper-plane"></i>
          <b>FlyHigh</b>
        </a>

        <div>
          <%= form_with url: aircrafts_path, method: :get do %>
          <div class="input-group">
            <%= text_field_tag :query,
          params[:query],
          class: "form-control form-rounded",
          placeholder: "Let's get high"
        %>
            <span class="input-group-text form-rounded" id="basic-addon1"><i
                class="fa-regular fa-paper-plane"></i></span>
          </div>
          <% end %>
        </div>

        <div>
          <ul class="nav">
            <% if user_signed_in? %>
            <li class="nav-item active">
              <%= link_to "Bookings", bookings_path , class: "nav-link" %>
            </li>
            <li class="nav-item dropdown">
              <%= image_tag "https://cdn-icons-png.flaticon.com/512/53/53548.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <ul class="dropdown-menu dropdown-menu-end">
              </li>
              <%= link_to "My Aircraft", my_aircraft_aircrafts_path , class: "nav-link" %>
            </li>
                <li><%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %></li>
                <li>
                  <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              </ul>
            </li>
            <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>

    </div>
    <% if controller.controller_name == 'aircrafts' && controller.action_name == 'index' %>
  <div class="d-flex justify-content-center">
          <div class="btn-group btn-group-sm mt-2">
            <%= link_to "$0-$500", { price_0_to_500: "1" }, class: "btn btn-outline-secondary form-rounded", data: { turbolinks: false } %>
            <%= link_to "$500-$1k", { price_500_to_1000: "1" }, class: "btn btn-outline-secondary", data: { turbolinks: false } %>
            <%= link_to "$1k+", { price_over_1000: "1" }, class: "btn btn-outline-secondary form-rounded", data: { turbolinks: false } %>
          </div>
          </div>
          <% end %>
  </div>
</div
