<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>Look at all the aircraft you own!</h1>
    </div>
  </div>

  <div class="row">
    <% @aircrafts.each do |aircraft| %>
      <div class="col-md-4">
        <div class="aircraft-card">
          <div class="aircraft-card-content">
            <div class="aircraft-card-title">
              <h2><%= aircraft.title %></h2>
            </div>
            <p><%= aircraft.description %></p>
            <p><%= aircraft.aircraft_type %></p>
            <div class="flex">
              <div class="flex align-items-center">
                <span><%= aircraft.departure_address %></span>
              </div>
              <div class="flex align-items-center ms-3">
                <span><%= aircraft.arrival_address %></span>
              </div>
            </div>
          </div>
          <div class="flat-card-actions">
            <%= link_to "More info", aircraft_path(aircraft) %>
            <%= link_to "Edit", edit_aircraft_path(aircraft), class: "ms-3 text-warning" %>
            <%= link_to "Remove", aircraft_path(aircraft),
                data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                class: "ms-3 text-danger"
            %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
