<!DOCTYPE html>
<html>
  <head>
    <title>SkyHigh</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Plane_font_awesome.svg/2048px-Plane_font_awesome.svg.png" rel="icon" type="image/png" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render "shared/flashes" %>
  </body>
</html>
